@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <button class="nav-link btn btn-link" @onclick="Profile">Profile</button>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Sign Out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args) {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Navigation.NavigateTo("/login");
    }

    private void Profile(MouseEventArgs args) {
        Navigation.NavigateTo("/profile");
    }
}
