@page "/employee/update-password/id:int"
@inject NavigationManager Navigation
@inject IEmployeeService EmployeeService
@inject IAuthService AuthService
@attribute [Authorize]

<PageTitle>Employee Form</PageTitle>

<div class="p-3 my-3 align-items-center text-white bg-blue-gradiant rounded shadow">
    <h1 class="h3 mb-0 text-center">Update the password</h1>
</div>

<div class="my-3 p-3 bg-white rounded shadow">
    <nav aria-label="breadcrumb" class="border-bottom mt-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="profile">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update Password</li>
        </ol>
    </nav>
    <div class="card">
        <div class="card-header">
            <h4 class="card-header-title h5">Update the password</h4>
        </div>
        <div class="card-body">
            <EditForm Model="request" OnValidSubmit="HandleUpdatePassword">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <label for="oldpassword">Old Password</label>
                    <InputText id="oldpassword" @bind-Value="request.OldPassword" type="password" class="form-control" />
                    <ValidationMessage For="@(() => request.OldPassword)" />
                </div>
                <div class="mb-3">
                    <label for="newpassword">New Password</label>
                    <InputText id="newpassword" @bind-Value="request.NewPassword" type="password" class="form-control" />
                    <ValidationMessage For="@(() => request.NewPassword)" />
                </div>
                <button type="submit" class="btn btn-primary mt-2">Update password</button>
            </EditForm>
        </div>
    </div>
</div>

<div class="@messageCssClass alert-dismissible alert-fixed position-fixed bottom-0" hidden="@hideMessage" role="alert">
    <span>@message</span>
    <button type="button" class="btn-close" @onclick="ToggleMessage"></button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private UpdatePasswordRequest request = new UpdatePasswordRequest();

    private string message = string.Empty;
    private string messageCssClass = string.Empty;
    private bool hideMessage = true;

    private async Task HandleUpdatePassword()
    {
        request.Id = Id;
        var response = await AuthService.UpdatePassword(request);
        if (response.Success)
        {
            ShowMessage(true, "Password updated successfully");
        }
        else
        {
            ShowMessage(false, response.Message);
        }
        hideMessage = false;   
    }

    private void ShowMessage(bool isValid, string Message)
    {
        if (isValid)
        {
            message = Message;
            messageCssClass = "alert alert-success";
        }
        else
        {
            message = Message;
            messageCssClass = "alert alert-danger";
        }
        hideMessage = false;
    }

    private void ToggleMessage()
    {
        hideMessage = true;
        message = string.Empty;
        messageCssClass = string.Empty;
    }
}